@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");



:root {
    --Gray: #6c6c6c;
    --darkGray: #e6e6e6;
    --lightGray: #efefef;
    --darkBrown: #212020;
    --blue: #0740ac;
    --white: white;

    --piink: #e4c1d7;
    --lightpink: #ffdbf2;
    --darkpink: rgb(227, 187, 210);
    --pink: #e87dc1;
    --darkgreen: #3e9c35;
    --red: #821e12;
    --darkred: #492e40;

    --lightblack: rgb(29, 29, 29);
    --black: rgb(26, 26, 26);
    --darkblack: rgb(18, 15, 19);
    --gold: #ffd700;
    --filtergray: invert(44%) sepia(7%) saturate(40%) hue-rotate(316deg) brightness(92%) contrast(88%);
    --filterblue: invert(13%) sepia(77%) saturate(5374%) hue-rotate(218deg) brightness(85%) contrast(95%);
}

.gray {
    --bg: var(--lightGray);
    --circle: var(--white);
    --circle1: var(--lightGray);
    --circle2: var(--darkGray);
    --text-h1: var(--darkBrown);
    --text-p: var(--darkBrown);
    --text-a: var(--blue);
    --logo: var(--Gray);
    --number: var(--darkGray);
}

.black {
    --bg: var(--lightblack);
    --circle: var(--white);
    --circle1: var(--lightblack);
    --circle2: var(--black);
    --text-h1: var(--lightGray);
    --text-p: var(--lightGray);
    --text-a: var(--gold);
    --logo: var(--gold);
    --number: var(--black);
}

.pink {
    --bg: var(--lightpink);
    --circle: var(--white);
    --circle1: var(--lightpink);
    --circle2: var(--darkpink);
    --text-h1: var(--darkred);
    --text-p: var(--darkred);
    --text-a: var(--red);
    --logo: var(--pink);
    --number: var(--darkpink);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
    font-weight: 300;
    z-index: 5;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }
/*=============================================
=            OVERLAY            =
=============================================*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
    overflow: hidden;
}
.first {
    background: var(--darkGray);
    overflow: hidden;
    width: 33.3%;
}

.second {
    background: var(--darkGray);
    left: 33.3%;
    width: 33.3%;
    overflow: hidden;
}

.third {
    background: var(--darkGray);
    overflow: hidden;
    left: 66.6%;
    width: 33.3%;
}

.hidetext {
    position: absolute;
}

/*=============================================
=            HERO            =
=============================================*/

.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;

    /**
     *
     * CIRCLES
     *
     */

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--circle);
        clip-path: ellipse(23.5% 70% at right 50%);
        z-index: 1;
        transition: background 500ms ease-in-out;
    }
    .circle1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--circle1);
        clip-path: ellipse(29% 70% at right 50%);
        z-index: 0;
        transition: background 500ms ease-in-out;
    }
    .circle2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--circle2);
        clip-path: ellipse(34% 70% at right 50%);
        // clip-path: circle(44% at right 50%);
        z-index: -1;
        transition: background 500ms ease-in-out;
    }

    .number {
        position: absolute;

        font-size: 30em;
        transform: rotate(270deg);

        color: var(--number);
        transition: color 1000ms ease-in-out;
        top: 650px;
        left: 400px;
        overflow: visible;
        z-index: -1;
    }

    /**
     *
     * NAV
     *
     */

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 102%;
        padding: 40px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        .logo {
            color: var(--logo);
            font-size: 3em;
            font-family: georgia;
            transition: color 1000ms ease-in-out;
        }
        .menu {
            display: block;
            margin-right: auto;
            margin-top: 19px;

            .logoimg {
                width: 30px;
                filter: var(--filtergray);
            }
        }

        ul {
            display: flex;

            li {
                padding: 20px 20px;
                .bruh {
                    width: 30px;
                    filter: var(--filtergray);
                }
            }
        }
    }

    /**
     *
     * TEXT
     *
     */

    .content {
        position: absolute;
        width: 450px;
        z-index: 4;
        top: 220px;

        h1 {
            font-size: 4em;

            color: var(--text-h1);
            line-height: 78px;
            width: 100%;
            overflow: hidden;
            font-weight: 500;
            position: relative;
            height: 150px;
            transition: color 1000ms ease-in-out;
        }
        p {
            padding-bottom: 80px;
            color: var(--text-p);
            line-height: 28px;
            letter-spacing: 0;
            max-width: 450px;
            overflow: hidden;
            position: relative;
            transition: color 1000ms ease-in-out;
        }
        a {
            display: block;
            width: 190px;
            font-size: 1.5em;
            font-weight: 700;
            color: var(--text-a);
            position: relative;
            overflow: hidden;
            padding-bottom: 40px;
            transition: color 1000ms ease-in-out;
        }
        .flex {
            display: flex;
        }
        .textimg {
            margin-right: 20px;
            margin-top: 4px;
            width: 30px;
            filter: var(--filterblue);
        }
    }

    .progcircles {
        position: absolute;
        bottom: 50px;
        left: 150px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 15px;
        }

        // li {
        //     a {
        //         display: inline-block;

        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         transition: 0.2s ease-in-out;
        //         padding: 0 20px;
        //         color: #212020;
        //     }
        // }
    }

    /*=============================================
    =            PICTURES            =
    =============================================*/

    .man {
        position: absolute;

        width: 750px;

        bottom: 0px;
        left: 35%;
        z-index: 3;
        overflow-y: hidden;
    }
    .man2 {
        position: absolute;
        width: 1130px;

        bottom: 0%;
        left: -80%;
        z-index: 3;
        overflow-y: hidden;
    }

    .woman {
        position: absolute;
        width: 600px;

        bottom: 0%;
        left: -80%;
        z-index: 3;
        overflow: hidden;
    }

    // .explore {
    //     position: absolute;
    //     right: 150px;
    //     bottom: 270px;
    //     width: 25px;
    //     translate: rotate(-90deg);
    // }

    //     .bruh {
    //         width: 23px;
    //     }
    //     .bruh1 {
    //         width: 12px;
    //     }
    // }

    .items {
        position: absolute;
        right: 100px;
        bottom: 38px;
        display: flex;
        flex-direction: column;

        gap: 15px;

        h2 {
            font-size: 1.7em;
            font-weight: 600;
        }
        h4 {
            font-size: 1.2em;
            color: #6c6c6c;

            align-self: flex-end;
        }
        i {
            display: inline-block;
            font-size: 2.5em;
            margin-top: 10px;
            text-align: end;
            color: var(--blue);
        }
        .strike {
            text-decoration: line-through;
        }
    }
}

// .Shop{

//     text-align: center;
//     font-size:3em;
//     padding: 90px 0 120px 0;
//     color: var(--white);
//     background: var(--lightblack);
//     transition: background 1000ms ease-in-out, color 1000ms ease-in-out;
// }

// .categories{
//     background-color:var(--lightblack);
//     color: var(--white);
//     transition: background 500ms ease-in-out, color 1000ms ease-in-out;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     min-height:100vh;
//     padding-top: 30px;

//     .container {
//         position: relative;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-wrap: wrap;
//         row-gap: 100px;
//         column-gap: 20px;

//         .card{
//             position: relative;
//             width: 600px;
//             height:350px;
//             margin: 20px;
//             display: flex;
//             justify-content:flex-start;
//             align-items: center;
//             background: linear-gradient(45deg,var(--lightblack),var(--darkblack));
//             transition: background 500ms ease-in-out, color 1000ms ease-in-out;

//             .content {
//                 position: relative;
//                 width:50%;
//                 left:20%;
//                 padding:20px 20px 20px 40px;
//                 transition: .5s;
//                 opacity: 0;
//                 visibility: hidden;
//                 h2{
//                     color: var(--white);
//                     text-transform:uppercase;
//                     font-size: 2.2em;
//                     line-height:1em;
//                     transition: background 500ms ease-in-out, color 1000ms ease-in-out;

//                 }
//                 p{
//                     color: var(--white);
//                     transition: background 500ms ease-in-out, color 1000ms ease-in-out;

//                 }
//                 a{
//                     position: relative;
//                     color: var(--white);
//                     background: var(--gold);
//                     display: inline-block;
//                     padding:10px 20px;
//                     margin-top: 10px;
//                     text-decoration: none;
//                     font-weight: 700;
//                     transition: background 500ms ease-in-out, color 1000ms ease-in-out;
//                 }

//             }

//             img{
//                 position: absolute;
//                 bottom:0;
//                 left: 50%;
//                 transform: translate(-50%);
//                 height:400px;

//                 transition: .5s;

//             }
//             &:hover img{
//                 left: 73%;
//                 height:500px;
//             }

//             &:hover .content{
//                 left: 0;
//                 opacity: 1;
//                 visibility: visible;
//             }

//         }
//     }

// }

.categories {
    height: 100px;

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--lightGray);

    h3 {
        display: inline-block;
        padding: 10px 40px;
        background-color: var(--white);
        border-radius: 20px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        width: 100px;
        li {
            padding: 0px 40px;

            &:last-child {
                padding-right: 350px;
            }
            a {
                color: #0740ac;
            }
        }
    }
}

.womenWardrobe {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    overflow: hidden;
    

    .textboxxx {
        position: absolute;
        width: 450px;
        z-index: 4;
        top: 240px;
        left: 220px;
        .fit{
            color: #6c6c6c;
            position: absolute;
            top: -38px;
        }

        .h8 {
            font-size: 4em;

            color: var(--text-h1);
            line-height: 78px;
            width: 100%;
            overflow: hidden;
            font-weight: 500;
            position: relative;
            height: 150px;
            transition: color 1000ms ease-in-out;
        }
        p {
            padding-bottom: 20px;
            padding-top: 20px;
            color: var(--text-p);
            line-height: 28px;
            letter-spacing: 0;
            max-width: 450px;
            overflow: hidden;
            position: relative;
            transition: color 1000ms ease-in-out;
        }
        a {
            display: block;
            width: 190px;
            font-size: 1.5em;
            font-weight: 300;
            color: var(--text-a);
            position: relative;
            overflow: hidden;
            padding-bottom: 40px;
            transition: color 1000ms ease-in-out;
        }
  
    }

   

    .womenimg {
        position: absolute;
        width: 600px;

        bottom: 0;
        right: 110px;
        z-index: 3;
        overflow: hidden;
        &:hover  .circlewomen{
            
              transform: scale(110%);
            
        }
    }

    .circlewomen {
        position: absolute;
        top: 180px;
        right: -100px ;
        width: 70%;
        height: 70%;
        background: var(--lightGray);
        clip-path: circle(32.57% at 544px 276px);
        z-index: 1;
        transition: 0.2s ease-in-out;
        // transition:  background 500ms  ease-in-out;

       
    }

    .flex{
        display: flex;
    }
        .textimg{
            
            margin-right: 20px;
            margin-top: -28px;
            width: 30px;
            filter: var(--filterblue);
            
    
        }
    
    
}
